/* Document colors */

$trueBlack          : #000000;
$black              : $trueBlack;
$trueWhite          : #FFFFFF;
$white              : #E2E6E5;
$grey               : #747979;
$lightGrey          : #BBBDBF;
$green              : #123C32;
$darkGreen          : #12372F;
$lightGreen         : #275047;
$yellow             : #E4E76C;
$lightYellow        : #F2F2B9;
$extraLightYellow   : #F7F7D5;
$purple             : #6E4678;

/* Fonts */

$systemSansSerif    : "Helvetica Neue", sans-serif;
$systemSerif        : "Source Serif Pro", serif;
$systemMono         : Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;

$baseFont           : $systemSansSerif;
$bodyFont           : "Sofia-Pro", $systemSansSerif;
$headingFont        : "DM Serif Display", $systemSerif;


/* Measurements */

$container          : 1200pt;
$containerInner     : 1000pt;
$gutter             : 30pt;
$modal              : 550pt;

$factorXS           : 0.6;
$factorSM           : 0.675;
$factorMD           : 0.675;
$factorLG           : 0.675;

$baseBody           : 20pt;
$baseH1             : 3.5rem;
$baseH2             : 3rem;
$baseH3             : 1.5rem;
$baseH4             : 1.3rem;
$baseH5             : 0.9rem;
$baseH6             : 0.8rem;

$breakXS            : 426px;
$breakSM            : 768px;
$breakMD            : 848px;
$breakLG            : 1024px;
$breakXL            : $container + ($gutter * 2);

$breakSidebar       : $breakLG;
$maxRelatedIndex    : 22rem;