/*********************
** GLOBAL VARIABLES **
*********************/

/* Colors */

$trueBlack          : rgb(0, 0, 0);
$black              : $trueBlack;
$trueWhite          : rgb(255, 255, 255);
$white              : $trueWhite;
$veryLightGrey		: rgb(244, 244, 244);
$lightGrey			: rgb(218, 220, 224);
$grey				: rgb(188, 194, 212);
$darkGrey			: rgb(120, 124, 135);
$veryDarkGrey 		: rgb(64, 65, 71);
$lightBlue			: rgb(222, 229, 250);
$blue				: rgb(58, 147, 191);
$darkBlue 			: rgb(13, 15, 54);
$purple				: rgb(46, 50, 131);
$green				: rgb(0, 235, 188);
$darkGreen			: rgb(0, 156, 124);
$pink				: rgb(255, 23, 102);
$brown				: rgb(204, 71, 39);
$orange				: rgb(255, 137, 23);
$yellow				: rgb(250, 188, 10);
$brand				: $purple;
$accent				: $green;

/* Fonts */

$systemSansSerif    : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
$systemSerif        : 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif;
$systemMono         : Menlo, Consolas, Monaco, 'Liberation Mono', 'Lucida Console', monospace;
$baseFont           : 'Fira Sans', $systemSansSerif;

/* Measurements */

$baseSize           : 16px;
$container          : 1280px;
$containerInner     : 640px;
$containerOuter     : 1920px;
$gutter             : 10px;

/* Breakpoints */

$breakXS            : 426px;
$breakSM            : 768px;
$breakMD            : 848px;
$breakLG            : 1024px;
$breakXL            : $container + ($gutter * 2);
$breakColumns		: $breakMD;


/******************
** GLOBAL MIXINS **
*******************/

/* Container */

@mixin container ($width) {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter;
	padding-right: $gutter;

	@media (min-width: ceil($width + ceil($gutter * 2))) {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Reset list style */

@mixin no-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Row nav */

@mixin nav-row ($margin) {
	@include no-list;

	>li {
		display: inline-block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: $margin;
		margin-right: $margin;

		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}
	}
}

/* Column nav */

@mixin nav-col ($margin) {
	@include no-list;

	>li {
		display: block;
		margin-top: $margin;
		margin-bottom: $margin;

		&:first-of-type {
			margin-top: 0;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

/* Gradient */

@mixin gradient ($degree, $from, $to) {
	background-image: linear-gradient($degree, $from 0%, $to 100%);
}
